.header {
  display: flex;
  margin-bottom: 56px;
  padding-right: 15px;
}

.titleGroup {
  display: flex;
  align-items: baseline;
}

.title {
  font-weight: 500;
  font-size: 26px;
  line-height: 31px;

  color: #00234b;
  margin: 0;
  padding: 0;
  margin-right: 8px;
}

.subtitle {
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  /* identical to box height */

  color: #778ca3;
}

.actions {
  margin-left: auto;
}

@media (max-width: 1200px) {
  .header {
    padding-right: 0;
    margin-bottom: 20px;
  }
  .titleGroup {
    flex-wrap: wrap;
  }
}
