.btn {
  border: none;
  outline: none;
  background: none;
  min-width: 140px;
  box-sizing: border-box;
  padding: 10px 20px;
  border: 2px solid rgba(98, 77, 227, 0.3);
  border-radius: 50px;
  color: #624de3;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}

.btnPrimary {
  color: #fff;
  background-color: #624de3;
}

.btnSecondary {
}
